/* Common Style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Lato;
}
/* Header section styling */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}
.header-left{
   margin: 50px auto;
   padding-left:  150px;

}
.header-right{
    margin: 50px auto;
    margin-bottom: 0px;
    padding-right: 150px;
    

}
.header-title{
    color: #272727;    
    padding: 16px 0px;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    width: 450px;

}
.describtion{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    width: 484px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-right img {
    height: 550px;
}


.btn-primary {
    border-radius: 8px;
    border: none;
    background: #E55473;
    cursor: pointer;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

/* subscribe section styling */
.subscribe-section{
    border-radius: 8px;
    /* width: 1440px; */
    height: 449px;
    text-align: center;
    margin: 100px 100px;
    background: url("Flower Asset/Rectangle 9.png"), lightgray 0px -203.444px / 100% 213.755% no-repeat;

}
.subscribe-section-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;

}
.coupon-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;


}
#emailbox{
    border-radius: 8px;
    background: #FFF;
    width: 520px;
    height: 44px;
    border: none;
    padding: 22px;
    margin: 16px;

}
.sub-btn{}

/* Footer section styling */
footer{
    background: #111010;
    text-align: center;
    width: 100%;
    height: 300px;
    padding: 100px;

}
.footer-head{
   color: white;
    font-size: 30px;
    font-weight: 800;
    margin: 14px;
}

.footer-head span{
    color: #E55473;;
    font-size: 30px;
    font-weight: 800;
}
.footer-describtion{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 22px;
    padding: 2px;

}
.copyright-text{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin: 10px;
}